ul {
  padding: 0px;
  font-size: 90%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  list-style-type: none;
  margin: 0 auto;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.header {
  padding-left: 90px;
  padding-right: 90px;
  box-shadow: 2px 2px 10px lightgray;
  background-color: #f5f5f5;
}
.navBar {
  width: 100%;
}
.navBar > li {
  text-align: center;
  display: inline-block;
}
.largeads {
  border: 5px solid white;
}
.header > li {
  height: 85px;
  text-align: center;
  display: inline-block;
}
.ads {
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 10px lightgray;
}
.navName {
  line-height: 14px;
  font-size: 15px;
  position: absolute;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  top: 72px;
}
.navigation {
  margin-right: 80px;
  margin-left: 80px;
  border-bottom: 2px solid #f0f0f0;
  margin-top: 10px;
  background-color: white;
}
.nav1 {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav1white.png);
  background-color: #919191;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120px;
  width: 14%;
  border-bottom-left-radius: 10px;
  color: white;
  border-bottom: 7px solid #919191;
}
.nav1:hover {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav1white.png);
  background-color: #919191;
  color: white;
}

.nav2 {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav2grey.png);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120px;
  width: 14%;
  color: #464646;
  background-color: white;
  border-bottom: 7px solid #e3350d;
}
.nav2:hover {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav2white.png);
  background-color: #e3350d;
  color: white;
}
.nav3 {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav3grey.png);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120px;
  width: 14%;
  color: #464646;
  background-color: white;
  border-bottom: 7px solid #ee6b2f;
}
.nav3:hover {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav3white.png);
  background-color: #ee6b2f;
  color: white;
}

.nav4 {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav4grey.png);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120px;
  width: 14%;
  color: #464646;
  background-color: white;
  border-bottom: 7px solid #e6bc2f;
}
.nav4:hover {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav4white.png);
  background-color: #e6bc2f;
  color: white;
}
.nav5 {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav5grey.png);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120px;
  width: 14%;
  color: #464646;
  background-color: white;
  border-bottom: 7px solid #4dad5b;
}
.nav5:hover {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav5white.png);
  background-color: #4dad5b;
  color: white;
}

.nav6 {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav6grey.png);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120px;
  width: 14%;
  color: #464646;
  background-color: white;
  border-bottom: 7px solid#30a7d7;
}
.nav6:hover {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav6white.png);
  background-color: #30a7d7;
  color: white;
}
.nav7 {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav7grey.png);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120px;
  width: 14%;
  border-bottom-right-radius: 10px;
  color: #464646;
  background-color: white;
  border-bottom: 7px solid #1b53ba;
}
.nav7:hover {
  background-position-x: center;
  background-position-y: 23px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url(./images/nav7white.png);
  background-color: #1b53ba;
  color: white;
}
.banner-purple {
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  background-color: #b38aea;
}
.banner-purple:hover {
  background-color: #a067eb;
}
.banner-orange {
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #ee6b2f;
}
.banner-orange:hover {
  background-color: #e95510;
}

.banner-viewNews {
  background-image: url(./images/straight_edge.png);
  background-size: 35px;
  background-position: right bottom;
  background-repeat: no-repeat;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  background-color: #30a7d7;
}
.banner-viewNews:hover {
  background-color: #1b7ea5;
}

.banner-neworange {
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-color: #ee6b2f;
}

.banner-yellow {
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #e6bc2f;
}
.banner-yellow:hover {
  background-color: #c9a01b;
}

.banner-brown {
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #675945;
}
.banner-brown:hover {
  background-color: #423929;
}

.banner-red {
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #e3350d;
}
.banner-red:hover {
  background-color: #b42a0b;
}

.banner-green {
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #369143;
}
.banner-green:hover {
  background-color: #1e6328;
}

.banner-black {
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #313131;
}
.banner-black:hover {
  background-color: #1d1d1d;
}
.banner-skyBlue {
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #30a7d7;
}
.banner-skyBlue:hover {
  background-color: #1b7ea5;
}

.banner-blue {
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  background-color: #30a7d7;
}
.banner-blue:hover {
  background-color: #1081ad;
}

.bannertext {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.bannerimage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bannerhead {
  font-size: 130%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.banners {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 20px;
}
.bbanners {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.featured {
  margin-left: 90px;
  font-family: "Flexo-Medium", arial, sans-serif;
  background: #232323;
  color: #919191;
  float: left;
  font-size: 125%;
  margin-top: 50px;
  margin-bottom: 0;
  position: relative;
  padding: 11px 20px 8px;
  text-transform: none;
  vertical-align: middle;
  width: auto;
  border-radius: 5px 5px 0 0;
}
.tableCard {
  width: 19%;
  display: inline-block;
  background-color: #616161;
}
.tabletxt {
  padding-left: 10px;
  margin-bottom: 0px;
  font-size: 160%;
  line-height: 75px;
  color: white;
  background-color: #3b3b3b;
}
.exploremore {
  top: 30px;
  right: 105px;
  position: absolute;
  font-weight: 500;
  color: white;
  font-size: 125%;
  padding: 11px 20px 8px;
  background-color: #313131;
  text-transform: none;
  vertical-align: middle;
  width: auto;
  border-radius: 5px 5px 5px 5px;
}
.exploremore:hover {
  color: white;
  text-decoration: none;
}
.whatsNew {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: start;
  color: #919191;
  cursor: default;
  font-size: 187.5%;
  line-height: 125%;
  text-transform: none;
  font-family: "Flexo-Regular", arial, sans-serif;
}

.pageFooter {
  background-color: #1f1f1f;
}
.footerList {
  list-style-position: inside;
  list-style-image: url("images/triangle.png");
}
.footerList > li {
  color: #616161;
}
.footerhead {
  color: white;
  font-size: 130%;
}
.social {
  border: 2px  solid rgb(14, 14, 14);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}
.thirdC > li > a {
  color: #616161;
  font-size: 12px;
}

img.kids {
  border: 1.5px solid white;
  border-radius: 05px;
  top: 50px;
  left: 0px;
  position: absolute;
  width: 30%;
}
.privacyList {
  top: 30px;
  left: 35%;
  position: absolute;
}
.copyrights {
  bottom: 0px;
  position: absolute;
  color: #616161;
  font-size: 12px;
}
.container {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  max-width: 1450px;
  min-width: 500px;
}
body {
  background-color: #1f1f1f;
  background-attachment: fixed;
  background-image: url(./images/background.png);
  max-width: 100%;
}
.drawer {
  width: 60px;
  height: 300px;
  position: fixed;
  top: 150px;
}
.user {
  height: 70px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(./images/user_bg.png);
  color: white;
  font-size: 12px;
  padding: 12px;
  padding-top: 8px;
  font-family: "Roboto", sans-serif;
}
.user:hover {
  background-image: url(./images/user_bg_hover.png);
}
.search {
  padding: 15px;
  height: 70px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(./images/search.png);
}
.search:hover {
  background-image: url(./images/search_hover.png);
}
.login {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
