body {
  margin: 0 auto;
  background-color: white;
}
.container {
  background-color: #f0f2f5;
  max-width: 100%;
}
.myDisplay {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 400px;
  padding-top: 50px;
  min-height: 700px;
  max-height: 1000px;
}
.first,
.second {
  margin: 0 auto;
  max-width: 600px;
  min-width: 396px;
}
.fbText {
  padding: 0 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  min-width: 80%;
  min-width: 396px;
  max-width: 600px;
}
.imgDiv {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.34;
  display: block;
  padding: 112px 0 16px 0;
}

img {
  font-family: "Source Sans Pro", sans-serif;
  margin: -17px;
  height: 106px;
}
.loginCard {
  font-family: "Source Sans Pro", sans-serif;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}

input {
  font-family: "Source Sans Pro", sans-serif;
  border: 1.5px solid #dddfe2;
  border-radius: 07px;
  width: 364px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  padding: 10px;
}

input:focus {
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  border-radius: 7px;
  border: 1.5px solid #1877f2;
}

.forget {
  font-weight: bold;
  color: #1877f2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.createNewAcc,
.btn_login {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #1877f2;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  font-size: 18px;
  line-height: 48px;
  padding: 0 16px;
  width: 364px;
}
.btn_login:hover {
  background-color: #0354bd;
}
.createNewAcc {
  width: 200px;
  background-color: #42b72a;
}
.createNewAcc:hover {
  background-color: #20770f;
}
.createPage {
  margin-bottom: 30px;
  width: 396px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-top: 28px;
  color: #1c1e21;
}
.createPage > a {
  color: black;
  font-weight: 600;
}
ul > li {
  font-size: 12px;
  color: #737373;
  padding: 05px;
  display: inline-block;
}
.footer {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 400px;
}
